<a href="https://colab.research.google.com/github/data-space/datalab-notebooks/blob/master/Python/9.%20Temporary/Workshop_Scikit_learn_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scikit-learn Workshop - 19 Nov 2019

## Setup

In [0]:
import pandas  as pd
import numpy   as np
import sklearn as sk

### Iris dataset

In [0]:
import pandas as pd
from sklearn.datasets import load_iris
iris_features = load_iris().data
iris_target   = load_iris().target

### Diamonds dataset

In [35]:
import pandas as pd
diamonds_pdf = pd.read_csv('https://raw.githubusercontent.com/datalab-datasets/file-samples/master/diamonds.csv').drop(columns='Unnamed: 0')
diamonds_pdf.columns
diamonds_features = diamonds_pdf.drop(labels='price',axis=1).select_dtypes(include=['float','int'])
diamonds_target = diamonds_pdf['price']
diamonds_features

       carat  depth  table     x     y     z
0       0.23   61.5   55.0  3.95  3.98  2.43
1       0.21   59.8   61.0  3.89  3.84  2.31
2       0.23   56.9   65.0  4.05  4.07  2.31
3       0.29   62.4   58.0  4.20  4.23  2.63
4       0.31   63.3   58.0  4.34  4.35  2.75
...      ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  5.66  5.68  3.56
53938   0.86   61.0   58.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 6 columns]

In [0]:
def get_boston_housing_pdf(): # for boston housing dataset
  from sklearn.datasets import load_boston
  feature_names = [name.lower() 
                   for name in load_boston().get('feature_names').tolist()
                  ]
  features_pdf = pd.DataFrame(data=load_boston().get('data'),
                              columns=feature_names
                             )
  target_pdf = pd.DataFrame(data={'price': load_boston().get('target')}
                           )
  return pd.concat([features_pdf, target_pdf],
                   axis='columns',
                   join='inner')

In [36]:
boston_housing_pdf = get_boston_housing_pdf().select_dtypes(include=['float','int'])

boston_housing_features = boston_housing_pdf.drop(labels='price',axis=1)
boston_housing_target = boston_housing_pdf['price']
boston_housing_features

        crim    zn  indus  chas    nox  ...  rad    tax  ptratio       b  lstat
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

Our first step is to create a train dataset and a test dataset from our dataset, which is `iris_features` and `iris_target`. Use the `train_test_split` function from the `sklearn` library to do so.

In [0]:
from sklearn.model_selection import train_test_split
iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(iris_features,
                                                    iris_target)

Notice that the train dataset is `iris_x_train` and `iris_y_train`, which correspond to the features and the target.

__Exercise__: create train and test datasets 
- for the `diamonds_features`, `diamonds_target` dataset called `diamonds_x_train`, `diamonds_x_test`, `diamonds_y_train`, `diamonds_y_test`
- for the `boston_housing_features`,`boston_housing_target` dataset called `boston_x_train`, `boston_x_test`, `boston_y_train`, `boston_y_test`

In both cases put the result of the

## Algorithms to models to prediction

Linear regression is an algorithm. This algorithm (and many others) have parameters that determine how they work. The Scikit-learn version of the linear regression algorithm has parameters named `copy_X`, `fit_intercept`, `n_jobs`, `normalize`. The values indicated below are defaults.

In [39]:
from sklearn.linear_model import LinearRegression
iris_linreg_algorithm = LinearRegression()
iris_linreg_algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create algorithm objects for diamonds and boston, named `diamonds_linreg_algorithm` and `boston_linreg_algorithm`.

Recall that algorithms take train datasets as input and produce models as output. We do this for the iris dataset below, using the `fit` method of the .

In [41]:
iris_linreg_model = iris_linreg_algorithm.fit(X=iris_x_train,
                                              y=iris_y_train)
iris_linreg_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create model objects for diamonds and boston, named `diamonds_linreg_model` and `boston_linreg_model`. Use the corresponding train dataset.

Recall that models take test datasets as input and produce predictions as output. We do this for the iris dataset below, using the `predict` method.

In [43]:
iris_linreg_predictions = iris_linreg_model.predict(X=iris_x_train)
iris_linreg_predictions

array([ 2.14692777,  1.40986252,  1.92538596, -0.03452168, -0.09581712,
        1.69273949,  0.01029723,  1.95196882,  1.04766688,  1.19032574,
       -0.01315712,  1.30548167, -0.10171717,  1.16219497,  1.72205417,
       -0.02483807,  1.96929249,  0.03047787,  0.21976089,  1.75518562,
        1.7522285 ,  1.59474065,  1.19733027,  0.89486195,  1.49464552,
        2.0025366 , -0.05568764,  2.25319449,  2.00922336,  1.27963278,
       -0.06635006, -0.08617973,  0.03110571,  1.68672027,  1.81865029,
        1.59159262,  1.07351576,  1.28187495,  1.99686067,  1.75518562,
        1.18367751,  1.39502703,  1.79417741,  1.14527502,  1.733894  ,
        0.00679171,  0.12934287, -0.23246327,  1.29694225,  1.82059489,
        1.17738144,  1.54625734,  1.33845424,  1.37995973,  1.34963184,
        1.75254626,  2.07414998,  2.19783113,  1.87821223,  1.12395018,
        1.00765656, -0.02747743,  0.04916335,  1.90173301,  2.0349798 ,
        2.16450877,  1.81238624,  1.31802877,  1.98676083, -0.09219894,
        1.59296863,  2.09900705,  0.02772585,  1.18415415,  1.24564168,
       -0.12835277,  1.10801672, -0.01555166,  1.92203932,  0.07100987,
        1.73362246,  1.70882532, -0.07225011,  1.0969636 ,  1.06080978,
        1.77570955,  1.66587207, -0.01590914,  1.57955418,  1.60375671,
        2.05387688,  1.68995425, -0.14023882,  1.1686037 ,  1.84889755,
        0.84870676,  2.07028698,  1.39778556,  1.37646072, -0.17423643,
       -0.09821816, -0.11226694,  1.31099103,  1.28085642,  0.8760176 ,
       -0.04765808,  1.43834427, -0.02020137,  1.19559027,  0.92172937,
        0.96063521,  1.88804171])

__Exercise__: Create predictions for diamonds and for boston named `diamonds_linreg_predictions` and `boston_linreg_predictions`.

In [44]:
iris_linreg_model.score(X=iris_x_test,
                        y=iris_y_test)

0.930294094537115

__Exercise__: Create a score for the predictions for diamonds and for boston named `diamonds_linreg_score` and `boston_linreg_score`.